body {
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: yellowgreen;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.mainScreen {
    color: white;
    text-align: center;
    padding: 100px;
    height: 100vh;
    font-weight: bold;
    color: #FFD301;
    font-size: xx-large;
    text-shadow: 2px 2px #ff0000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(22deg, rgba(2, 0, 36, 1) 0%, rgba(48, 78, 187, 1) 51%, rgba(0, 212, 255, 1) 100%);

}


.mainscreen-button {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    border: 0px;
    font-size: x-large;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
}

.mainscreen-button:hover {
    background-color: yellowgreen;
}

.singlePlayScreen {
    background-color: lightsalmon;
    text-align: center;
    padding: 100px;
    height: 100vh;



}

.multiplayerScreen {
    background-color: lightsteelblue;
    text-align: center;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.primary-button {
    background-color: #FFED00;
    border-radius: 10px;
    color: black;
    border: 0px;
    font-size: large;
    font-weight: bold;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.primary-button:hover {
    background-color: orange;
    color: white;
}

.primary-button:active {
    background-color: red;
    color: white;
}


.joinScreen {
    background: url("./chessbg64.png") repeat 0 0;
    background-color: white;
    text-align: center;
    padding: 50px;
    color: white;
    height: 100vh;
    animation-name: repeat;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.joinScreen-parent {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    overflow: hidden;
}

@keyframes repeat {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 64px 64px;
    }
}

.joinScreen-top {
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #1D71B8;
}

.joinScreen-left {
    float: left;
    width: 50%;
    color: black;
    background-color: whitesmoke;
    padding-top: 25px;
    padding-bottom: 50px;
    height: 300px;

}

.joinScreen-right {
    margin-left: 50%;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #312783;
    height: 300px;

}

.room-list {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;

    color: black;
    background-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2.5;
    text-align: center;
    overflow-y: scroll;
    height: 200px;

}

.room-list-button {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-weight: bold;
    line-height: 0px;
}

.room-list-button:hover {
    background-color: greenyellow;
    border: 0px;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: grey;
}

::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 25px;

}


/* Chess */


.chess-cell {
    width: 20px;
    height: 20px;
    background-color: lightblue;
}


#multiplayer-chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    justify-content: center;
    margin: auto;
    padding-top: 50px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px;
    background-color: lightcyan;
    position: relative;
    display: inline;
    z-index: 0;
    color: lightcyan;
}

.cell-even {
    background-color: lightblue;
    border: 0px;

}

.cell:hover {
    background-color: red;
}

.cell-even:hover {
    background-color: red;
}

.cell:active {
    background-color: rgba(48, 78, 187, 1);
}